$image-square-active-border-color: #DD2A7C !default;

.image-square {
    display: flex;
    align-items: center;
    justify-self: center;
    width: 56px;
    height: 56px;
    border-radius: 100%;
    overflow: hidden;
}

.image-square--small {
    width: 32px;
    height: 32px;
}

.image-square--tiny {
    width: 24px;
    height: 24px;
}

.image-square.has-border {
    border: 1px solid #dbdbdb;
}

.image-square.is-active {
    border: 2px solid $image-square-active-border-color;
}

.image-square.is-active img {
    border: 1px solid #ffffff;
    border-radius: 100%;
}