body {
  background-color: aliceblue;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#tekst {
  width: 50%;
}

ul {
  display: flex;
}
li {
  margin: 0 20px;
  font-size: 1.3rem;
}
#about-me li {
  list-style-type: none;
}
